.topBlock{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
@media screen and (max-width: 768px){
    .topBlock{
        justify-content: space-between;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
    }
}