.item{
    // padding-top: 72px;
    // background-color: #999;
    position: relative;
    img{
        height: calc(100vh - 72px);
        width: 100%;
        object-fit: cover;
    }
    // .text{
    //     // position: absolute;
    //     // left: 50px;
    //     // top: 0;
    //     // bottom: 0;
    //     // font-size: 70px;
    //     // line-height: 118px;
    //     // max-width: 650px;
    //     // color: #fff;
    // }
}

.slick-slide img {
    margin: auto;
  }
