ul, li {
	margin: 0;
    padding: 0;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}

.catalogMenu{
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    display: block;
    height: 100vh;
}

.menuList{
    padding-top: 50px;
    display: none;
    height: 100%;
}

.menuFirstLevel{
    display: inline-block;  
    position: relative;      
}


.menuSubList{
    position: absolute;
    top: 0;
    left: 280px;
    padding-left: 100px;
}


.menuItem{
    margin-bottom: 40px;
    a{
        color: #000;
        font-size: 22px;
        font-weight: bold;
        &:hover{
            color: rgb(38, 155, 38);
        }
    }     
}
.menuItem{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(38, 155, 38);
}

.menuItem:hover > ul{
    display: inline-block;
    min-width: 350px;
    transition: all 1.2s;
}

@media screen and (max-width: 768px) {        
    .menuFirstLevel{
        padding: 30px 0 0 50px;
        position: static;      
    }
    .menuList{
        // display: block;
    }
    .menuList > li {
        padding: 0;
        margin-bottom: 35px;
        a{
            font-size: 26px;
        }
    } 
    
    .menuSubList{
        position: static;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        padding-left: 50px;
    }
    
    .menuSubList > li{
        margin-bottom: 0px;
        a{
            font-size: 18px;
        }     
    }
    .menuItem{
        border-bottom: none;
    }
    
    .menuItem:hover > ul{
        display: block;
        // display: inline-block;
        // min-width: 350px;
        // transition: all 1.2s;
    }   

    
}

