.sorting{
    display: flex;
    &__title{
        padding-top: 5px;
        margin-right: 20px;
        font-weight: bold;
        border-bottom: 1px solid #000;
    }
    @media screen and (max-width: 768px){
        &__title{
            display: none;
        }
    }

}
.item{
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        border: 1px solid #000;
    }
}
.active{
    background-color: #000;
    color: #fff;
}
@media screen and (max-width: 481px){
    .item{
        font-size: 14px;
    }
}
@media screen and (max-width: 340px){
    .item{
        font-size: 12px;
    }
}