.card{
    &__list{
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
    }
    &__item{
        max-width: 300px;
        padding: 10px;
        &:hover{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        a{
            color: #000;
        }
    }
    &__imgWrap{
        display: flex;
        justify-content: center;
    }
    &__img{
        width: 200px;
        height: 270px;
        object-fit: contain;
        text-align: center;
    }
    &__title{
        padding-top: 10px;
        min-height: 70px;
    }
    &__price{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    &__btnWrap{
        display: flex;
        justify-content: center;
    }
    &__btn{
        font-size: 18px;
        padding: 10px 30px;
        border: none;
        background-color: rgb(231, 71, 71);
        color: #fff;
        margin-bottom: 20px;
        cursor: pointer;
    }
}