.productpage{
    padding-top: 50px;
    &__main{
        display: flex;
        padding-top: 50px;
        &photo{
            margin-right: 200px;
            img{
                width: 600px;
            }
        }
    } 
    &__additionalinfo{
        padding-top: 50px;
    } 
    @media screen and (max-width: 1300px){
        &__main{
            &photo{
                margin-right: 0px;
            }
        } 
    }  
    @media screen and (max-width: 1024px){
        &__main{
            &photo{
                img{
                    width: 400px;
                }
            }
        } 
    }
    @media screen and (max-width: 768px){
        &__main{
            flex-direction: column;
            &photo{
                text-align: center;
                margin-bottom: 50px;
            }
        } 
    }
    @media screen and (max-width: 480px){
        &__main{
            &photo{
                img{
                    max-width: 100%;
                }
            }
        } 
    }

}
.maininfo{
    &__name{
        font-size: 28px;
    }
    &__rating{
        display: flex;
        margin-bottom: 50px;
    }
    &__price{
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    &__btn{
        font-size: 22px;
        padding: 10px 100px;
        color: #fff;
        background-color: rgb(0, 0, 88);
        border: 0;
        margin-bottom: 20px;
    }
    &__availability{
        font-size: 18px;
        // font-weight: bold;
        color: rgb(120, 168, 42);
        margin-bottom: 60px;
    }
    &__deliveryitem{
        display: flex;    
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__deliverycost{
        display: flex;
        align-items: center;
        svg{
            width: 15px;
            height: 15px;
            margin-right: 15px;
        }
    }
}
@media screen and (max-width: 480px){
    .maininfo{
        &__price{
            text-align: center;            
        }
        &__btn{
            font-size: 20px;
            width: 100%;
        }
        &__availability{
            text-align: center;
        }
    }
}
.rating{
    &__stars{
        display: flex;
        margin-right: 20px;
        svg{
            width: 20px;
        }
    }
}
.deliveryitem__left{
    display: flex;
    svg{
        width: 20px;
        margin-right: 10px;
    }
}
.deliverycost{
    &__text{
        color: #000;
    }
}

.additionalinfo{
    &__title{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 18px;
        line-height: 32px;
    }
}
