.productpage{
    padding-top: 80px;
    &__main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 90px;
    } 
    &__additionalinfo{
        padding-top: 50px;
    }   
    @media screen and (max-width: 1300px){
        &__main{
            &photo{
                margin-right: 0px;
            }
        } 
    }  
    @media screen and (max-width: 1024px){
        &__main{
            &photo{
                img{
                    width: 400px;
                }
            }
        } 
    }
    @media screen and (max-width: 768px){
        &__main{
            flex-direction: column;
            &photo{
                text-align: center;
                margin-bottom: 50px;
            }
        } 
    }
    @media screen and (max-width: 480px){
        &__main{
            &photo{
                img{
                    max-width: 100%;
                }
            }
        } 
    }
}
.maininfo{
    &__rating{
        margin-top: 20px;
        margin-bottom: 50px;
    }
    &__price{
        margin-bottom: 50px;
    }
    &__btn{
        margin-bottom: 20px;
    }
    &__availability{
        margin-top: 30px;
        margin-bottom: 80px;
    }
    &__deliveryitem{
        margin-bottom: 20px;
    }
    &__deliverycost{
        display: flex;
    }
}
@media screen and (max-width: 480px){
    .maininfo{
        &__price{
            text-align: center;            
        }
        &__btn{
            font-size: 20px;
            width: 100%;
        }
        &__availability{
            text-align: center;
        }
    }
}
.additionalinfo{
    &__title{
        margin: 50px 0;
    }
}
